html {
  scroll-behavior: smooth;
}
body {
  background-image: url(../../assets/images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-color: #FF7979;
  font-family: "Poppins", sans-serif;
}
