.main{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    margin-inline: 24px;
    margin-block: 88px;
    color: white;
}
.main__container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 20.4375rem;
    border-radius: 0.625rem;
    background-color: white;
}